@charset "UTF-8";

/* empty-epsilon */
@font-face {
  font-family: "empty-epsilon";
  src:url("/fonts/1459282128.eot");
  src:url("/fonts/1459282128.eot#iefix") format("embedded-opentype"),
    url("/fonts/1459282128.woff") format("woff"),
    url("/fonts/1459282128.ttf") format("truetype"),
    url("/fonts/1459282128.svg#1459282128") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "empty-epsilon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "empty-epsilon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-docking:before {
  content: "\61";
}
.icon-energy:before {
  content: "\62";
}
.icon-heading:before {
  content: "\63";
}
.icon-lock:before {
  content: "\64";
}
.icon-overheat:before {
  content: "\65";
}
.icon-shields:before {
  content: "\66";
}
.icon-speed:before {
  content: "\67";
}
.icon-station-engineering:before {
  content: "\68";
}
.icon-station-helm:before {
  content: "\69";
}
.icon-station-relay:before {
  content: "\6a";
}
.icon-station-science:before {
  content: "\6b";
}
.icon-station-weapons:before {
  content: "\6c";
}
.icon-weapon-emp:before {
  content: "\6d";
}
.icon-weapon-homing:before {
  content: "\6e";
}
.icon-weapon-mine:before {
  content: "\6f";
}
.icon-weapon-nuke:before {
  content: "\70";
}
.icon-station-engineering-v2:before {
  content: "\71";
}
.icon-station-helm-v2:before {
  content: "\72";
}
.icon-station-captain:before {
  content: "\73";
}
.icon-station-engineering-1:before {
  content: "\74";
}
.icon-station-tactical:before {
  content: "\75";
}
.icon-station-operations:before {
  content: "\76";
}
