body{
	font: 62.5% "Trebuchet MS", sans-serif;
	color: #ffffff;
	margin: 50px;
	background-color: #000000;
}
h1 {
	font-size: 10em;
}
.ui-tabs-nav {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
select {
	width: 200px;
}
