@import "bebasneue.css";

body{
	font: 62.5% 'Montserrat', sans-serif;
	color: #ffffff;
	margin: 50px 0;
	background: url(images/bg.jpg) center center no-repeat fixed #000000;
	background-size: cover;
}

h1.logo {
	text-indent: 750px;
	overflow: hidden;
	margin: 0 auto 25px;
	width: 750px;
	height: 150px;
	background: url(images/logo.png) center top no-repeat;
	background-size: cover;
}

h2 {
	font: 28px bebas_neuebold, Impact, sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	
}

h1:first-of-type, 
h2:first-of-type, 
h3:first-of-type, 
h4:first-of-type, 
h5:first-of-type, 
h6:first-of-type {
	margin-top: 0;
}

a {
	outline: none;
}

#tabs-info input[type="image"] {
	width: 92px;
	height: 26px;
	overflow: hidden;
	border-radius: 4px;
}

table.downloads {
	
}

table.downloads tr td {
	padding: 5px 10px 5px 0;
}

table.downloads tr th {
	padding: 25px 10px 5px 0;
	font: 26px bebas_neuebold, Impact, sans-serif;
}

a.download {
	display: block;
	padding: 0 10px;
	height: 30px;
	line-height: 26px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: rgba(0,0,0,0.4);
	border: 2px solid #fff;
	border-radius: 15px;
	text-decoration: none;
	transition: all 0.2s;
	box-sizing: border-box;
}

a.download.windows {
	color: #00ADEF;
	border-color: #00ADEF;
}

a.download.android {
	color: #A4C639;
	border-color: #A4C639;
}

a.download.debian {
    color: #CE0056;
    border-color: #CE0056;
}

a.download:hover {
	border-color: #fff;
	color: #fff;
}

#icons {
	margin: 0;
	padding: 0;
}

#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}

select {
	width: 200px;
}

.code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
	color: #fff;
  background: #000;
	display: block;
  padding: 0.5em 1em;
  border: 1px solid #444;
}

.ui-tabs-vertical .ui-tabs-nav {
	float: left;
	width: 25%;
	box-sizing: border-box;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 0 !important;
	border-right-width: 0 !important;
	margin: 10px 0 0;
	padding: 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0.2em;
	padding-bottom: 0;
	border-right-width: 0;
}

.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	border-left-width: 0;
	height: 100%;
	width: 70%;
	padding: 10px 20px 30px!important;
}

.ui-widget-content {
	background: rgba(16,19,23,0.8);
	background: -moz-radial-gradient(center, ellipse cover, rgba(16,19,23,0.8) 0%, rgba(31,37,45,0.8) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(16,19,23,0.8)), color-stop(100%, rgba(31,37,45,0.8)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(16,19,23,0.8) 0%, rgba(31,37,45,0.8) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(16,19,23,0.8) 0%, rgba(31,37,45,0.8) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(16,19,23,0.8) 0%, rgba(31,37,45,0.8) 100%);
	background: radial-gradient(ellipse at center, rgba(16,19,23,0.8) 0%, rgba(31,37,45,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101317', endColorstr='#1f252d', GradientType=1 );
	border: none!important;
	border-radius: 0px!important;
	padding: 10px 20px 0;
}

.ui-widget-header {
	background: none!important;
	border: none!important;
}

.ui-widget {
	font-family: 'Montserrat', sans-serif;
}

.ui-tabs-anchor {
	font-family: 'bebas_neue_regularregular', 'Arial Narrow', sans-serif;
	font-size: 30px;
  padding: 0 20px!important;
  line-height: 36px;
  height: 40px;
  border-radius: 20px;
  background: rgba(0,0,0,0.25);
  color: #fff!important;
  transition: all 0.2s;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
  border-top: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  border-left: 2px solid rgba(255,255,255,0.5);
  border-right: 2px solid rgba(255,255,255,0.5);
}

li.ui-state-active .ui-tabs-anchor {
	border-top: 2px solid rgba(255,255,255,1);
	border-bottom: 2px solid rgba(255,255,255,1);
	border-left: 2px solid rgba(255,255,255,1);
	border-right: 2px solid rgba(255,255,255,1);
}

.ui-state-active .ui-tabs-anchor {
	color: #000!important;
}

.ui-tabs .ui-tabs-nav li::before {
	/*content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;*/
}

.ui-tabs .ui-tabs-nav li::after {
	/*content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;*/
}

.ui-tabs-anchor::before {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: -2px;
	top: 17px;
	z-index: 100;
	transition: border 0.1s ease-in-out;
}

.ui-tabs-anchor::after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: -2px;
	top: 17px;
	z-index: 100;
	transition: border 0.1s ease-in-out;
}

.ui-tabs-anchor:hover::before {
	width: 40px;
	height: 40px;
	background: none;
	left: -2px;
	top: -2px;
	z-index: 100;
	border-left: 2px solid rgba(255,255,255,1);
	border-radius: 20px;
}

.ui-tabs-anchor:hover::after {
	width: 40px;
	height: 40px;
	background: none;
	right: -2px;
	top: -2px;
	z-index: 100;
	border-right: 2px solid rgba(255,255,255,1);
	border-radius: 20px;
}

li.ui-state-active .ui-tabs-anchor::after {
	content: "";
	display: block;
	background: #fff;
	position: absolute;
	width: auto!important;
	height: auto!important;
	top: 2px;
	right: 2px;
	left: 2px;
	bottom: 2px;
	z-index: 50;
	border-radius: 20px;
}

li.ui-state-active .ui-tabs-anchor span.button-text {
	z-index: 100;
	position: relative;
}

.ui-tabs-anchor:hover {
/*	border-left: 2px solid rgba(255,255,255,1);
	border-right: 2px solid rgba(255,255,255,1);*/
}

.ui-tabs .ui-tabs-nav li {
	margin: 10px 4px 0;
	border: none!important;
	background: none!important;
	float: none!important;
	display: inline-block;
}

.ui-state-active a, .ui-state-active a:link, 
.ui-state-active a:visited {
	background: rgba(0,0,0,0.65);
}

#tabs {
	margin: 0 auto;
	width: 1200px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,0.5)!important;
	border-bottom: 1px solid rgba(255,255,255,0.5)!important;
	position: relative;
}

#tabs .ui-tabs.ui-widget-content {
	background: rgba(0,0,0,0.4)!important;
	border-left: 1px solid rgba(255,255,255,0.5)!important;
	border-right: 1px solid rgba(255,255,255,0.5)!important;
}

#tabs .ui-tabs.ui-widget-content .ui-tabs-panel {
	min-height: 300px;
}

.ui-tabs-nav {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-tabs-nav::before {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 100;
}

#tabs .ui-tabs.ui-widget-content .ui-tabs-nav::before {
	top: 0px;
	left: -1px;
}

.ui-tabs-nav::after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: 0;
	top: -1px;
	z-index: 100;
}

#tabs .ui-tabs.ui-widget-content .ui-tabs-nav::after {
	top: 0px;
	right: -1px;
}

#tabs::before {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -1px;
	z-index: 100;
}

#tabs .ui-tabs .ui-tabs-panel::before {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: -1px;
	bottom: 0px;
	z-index: 100;
}

#tabs::after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: -1px;
	z-index: 100;
}

#tabs .ui-tabs .ui-tabs-panel::after {
	content: "";
	display: block;
	width: 2px;
	height: 2px;
	background: #fff;
	position: absolute;
	right: -1px;
	bottom: 0px;
	z-index: 100;
}

.ui-tabs .ui-tabs-panel {
	padding: 20px 20px 40px;
}

a.icon {
	position: relative;
	padding-left: 50px!important;
}

a.icon span.icon::before {
	font-family: "empty-epsilon";
	font-weight: normal;
	width: 40px;
	height: 40px;
	margin: 0 0 0 10px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	z-index: 100;
}

a.helms span.icon::before {
	content: "r";
}

a.weapons span.icon::before {
	content: "l";
}

a.engineering span.icon::before {
	content: "q";
}

a.science span.icon::before {
	content: "k";
}

a.relay span.icon::before {
	content: "j";
}

a.image-link img {
	width: 400px;
	height: auto;
}

a.image-link.float-right {
	float: right;
	margin: 0 0 20px 20px;
}

.gallery {
	text-align: center;
}

.gallery-image {
	display: inline-block;
	width: 300px;
	margin: 20px 10px 0;
	vertical-align: top;
}

.gallery-image a img {
	width: 300px;
}

h2.station {
	position: relative;
	font-size: 40px;
	line-height: 40px;
}

h2.station::before, 
h2.station::after {
	font-family: empty-epsilon;
}

h2.station::before {
	line-height: 40px;
	font-size: 40px;
	margin: 0 5px 0 0;
	position: relative;
	bottom: -5px;
}

h2.station::after {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 300px;
	text-align: center;
	line-height: 250px;
	opacity: 0.1;
}

h2.helms::before, 
h2.helms::after {
	content: "r";
}

h2.weapons::before, 
h2.weapons::after {
	content: "l";
}

h2.engineering::before, 
h2.engineering::after {
	content: "q";
}

h2.science::before, 
h2.science::after {
	content: "k";
}

h2.relay::before, 
h2.relay::after {
	content: "j";
}

@media only screen and (max-width: 1200px) {
	
	#tabs {
		width: 1000px;
	}
	
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: 24px;
	}
	
}

@media only screen and (max-width: 1000px) {
	
	#tabs {
		width: 80%;
	}
	
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 22px;
	}
	
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: 18px!important;
		padding: 0 15px!important;
	}
	
	.ui-tabs-vertical .ui-tabs-panel {
		width: 68%;
	}
	
}

@media only screen and (max-width: 800px) {
	
	body {
		margin: 40px 0;
	}
	
	h1.logo {
		width: 600px;
		height: 120px;
	}
	
	a.image-link {
		
	}
	
	a.image-link.float-right {
		float: none;
		display: block;
		margin: 0 0 20px;
		text-align: center;
	}
	
	.ui-tabs-vertical .ui-tabs-nav {
		width: 100%;
		float: none;
	}
	
	.ui-tabs-vertical .ui-tabs-panel {
		width: 100%;
    float: none;
    box-sizing: border-box;
	}
	
}

@media only screen and (max-width: 600px) {
	
	body {
		margin: 30px 0;
	}
	
	#tabs {
		width: 90%;
	}
	
	a.image-link img {
		width: 100%;
	}
	
	.ui-tabs-anchor {
		padding: 0 10px!important;
	}
	
	.ui-tabs .ui-tabs-panel {
		padding: 20px 0;
	}
	
	.gallery-image {
		width: 100%;
		display: block;
		margin: 20px 0 0;
	}
	
	a.download {
    padding: 5px 10px;
	  height: auto; 
    line-height: inherit;
    border-radius: 100px;
	}
	
	table.downloads tr td {
		padding: 5px 0;
	}
	
	table.downloads tr th {
		font-size: 20px;
		padding: 25px 0 5px 0;
	}
	
	h1.logo {
		width: 300px;
		height: 60px;
		margin: ;
	}
	
	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		font-size: 21px;
	}
	
	a.icon span.icon::before {
		margin: 0;
	}
	
	a.icon {
	  padding-left: 40px!important;
	}
	
}
