@import "bebasneue.css";

body{
	font: 62.5% 'Montserrat', sans-serif;
	color: #ffffff;
	margin: 50px;
	background: url(images/bg.png) center center no-repeat fixed #000000;
	background-size: cover;
}
h1.logo {
	text-indent: 750px;
	overflow: hidden;
	margin: 0 auto 25px;
	width: 750px;
	height: 150px;
	background: url(images/logo.png) center top no-repeat;
	background-size: cover;
}
h2 {
	font: 28px bebas_neuebold, Impact, sans-serif;
	font-weight: normal;
}
#tabs {
	margin: 0 auto;
	width: 1200px;
}
.ui-tabs-nav {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-radius: 0px;
}
a {
	outline: none;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
select {
	width: 200px;
}

.code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
	color: #000000;
    background: #EEEEEE;
	
	display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

.ui-tabs-vertical { width: 87em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 14em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { margin-bottom: 0.2em; padding-bottom: 0; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 70em; border-left-width: 1px; height: 100%; }

.ui-widget {
	font-family: 'Montserrat', sans-serif;
}

.ui-tabs-anchor {
	font-family: 'bebas_neue_regularregular', 'Arial Narrow', sans-serif;
	font-size: 24px;
  padding: 3px 10px!important;
}
